<head> <%= stylesheet_link_tag 'bootstrap' %> </head>
<h2>Edit Your Todo</h2>
<%= form_for @todo do |f| %>

  <%= label_tag(:title, "Title:") %>
  <%= f.text_field :title %></br>

  <%= label_tag(:description, "Description") %>
  <%= f.text_area :description %></br>

  <%= label_tag(:isCompleted, "Completed?") %>
  <%= f.check_box :isCompleted %></br>

  <%= f.submit "Update" %>

<% end %>
